body{
    background-color: rgb(97, 155, 10);
    color:black;
    font-family: 'Courier New', Courier, monospace;
    display:flex;
justify-content: center;
align-items:center;
height: 700px;
margin:0;
}

button {
    background-color: rgb(188, 18, 52);
    color:black;
    font-family: 'Courier New', Courier, monospace;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main{
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 30%;
}